body {
  padding: 0 1.5rem;
  margin: 0;
  display: flow-root;
}

.border {
  display: block;
  height: 100vh;
  float: left;
  shape-outside: url('https://raw.githubusercontent.com/M2D2co/pumpkin-soup/3a43e11a39fccd0c7e2fbb5815cd20a8827e9b14/assets/img/fall.svg');
  clip-path: url('https://raw.githubusercontent.com/M2D2co/pumpkin-soup/3a43e11a39fccd0c7e2fbb5815cd20a8827e9b14/assets/img/fall.svg');
  shape-margin: 2ch;
}

section { float: left; }
